<div class="d-flex flex-row mb-3">
  <div class="justify-content-start">
    <h1><%= @inventory.name %></h1>
  </div>
  <div class="align-self-center ml-auto">
    <%= link_to 'Back', inventory_index_path, :class => "btn btn-primary" %>
  </div>
</div>